__pycache__/*
__pycache__/prepare_mesh.cpython-36.pyc
gpytGPE/
deformetrica_support/
decomposition/
__init__.py
Historia/
DataOutput/
CardiacShapeModel/
CardiacMeshConstruction/
__pycache__/prepare_mesh.cpython-36.pyc
CardiacMeshConstruction_old
CardiacMeshConstruction_outside
.idea/
*pyc
./.*/
.ipynb_checkpoints/
venv_BHM/
